body {
    margin: 0;
    padding: 0;
    width: 99%;
    height: 100%;
    background-color: #0E1013;
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-image: url("bw.jpg");
    /*background-position: 0% 0%;*/
    background-size: 115%; 
}

#page {
    position: relative;
    width: 100%;
}

/* Header */
header {
    margin-left: auto;
    margin-right: auto;
    width: 101%;
    height: 450px;
    border-bottom: 0 solid #275B5C;
}

header h1 {
    color: #3EACAD;
    font-size: 36pt;
    font-family: Calibri;
    position: absolute;
    top: -10%;
    left: 10%;
}

header h2 {
    color: #275B5C;
    font-size: 15pt;
    font-family: Courier New;
    position: absolute;
    top: 30%;
    left: 25%;
}

header.landing h1 {
    font-size: 100pt;
    position: absolute;
    top: 350px;
    left: 300px;
}

header.landing h2 {
    font-size: 40pt;
    position: absolute;
    top: 525px;
    left: 840px;
}

/* NavBar */
#navBar {
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    left: 80px;
}


#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navBar li {
    display: inline;
    font-size: 14pt;
    width: 120px;
    padding: 5px;
    border-right: 1px solid white;
}

#navBar li.last {
    border: none;
}

#navBar a {
    text-decoration: none;
    font-weight: bold;
}

#navBar a:link {
    color: #FFFFFF;
}

#navBar a:hover {
    color: #16B7BA;
}

#navBar a:visited:hover {
    color: #16B7BA;
}

#navBar a:visited {
    color: #FFFFFF;
}

#navBar a:active {
    color: #16B7BA;
}

/* Content */

#me, #piper, #piperAndBinx {
    height: 100px;
    width: auto;
}

.content {
    color: black;
    background-color: rgba(255, 255, 255, .95);
    outline: 2px solid rgba(255, 255, 255, .95);
}

#mainContent {
    position: fixed;
    left: 35%;
    top: 25%;
    width: 500px;
    height: 510px;
}

#about {
    text-align: justify;
    line-height:170%;
}

#resumeDiv {
    position: fixed;
    left: 25%;
    top: 15%;
    width: 1000px;
    height: 710px;
    font-size: 11pt;
}

#resumeDiv #basicInfoAndEdu {
    height: 15%;
}

#resumeDiv #basicInfo, #resumeDiv #education{
    width: 50%;
    float: left;
}

#resumeDiv #skills {
    height: 35%;
}

#resumeDiv #experience {
    height: 50%;
}

em {
    font-style: normal;
    font-weight: bold;
    color: #0d7072;
}

#contactInfo {
    text-align: center;
}

#contactInfoHeader {
    color: #16B7BA;
    text-align: right;
    letter-spacing: 10px;
}

#mainContent a:link {
    color: #3EACAD;
    text-decoration: none;
}

#mainContent a:hover {
    color: #000000;
}

#mainContent a:visited:hover {
    color: #000000;
}

#mainContent a:visited {
    color: #16B7BA;
}

#mainContent a:active {
    color: #16B7BA;
}

#externalLogoLinks {
    position: fixed;
    bottom: 50px;
    right: 100px;
}

#externalLogoLinks img {
    padding: 10px;
}

/* Footer */
footer {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 40px;
    background-color: #2E2E2B;
    border: 10px solid #2E2E2B;
    text-align: center;
    color: #3EACAD;
    font-size: 11pt;
}


footer {
    display: none;
}

#construction
{
    font-size: 58pt;
    color: #16B7BA;
    word-wrap: break-word;
}


/* Scroll bar */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(57,67,79,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(38,44,52,.4); 
}

/* Colors:

#3EACAD
#16B7BA
#275B5C
#262C34
#133132
#39434F (scroller color)

Potential extras:
#9C5856

*/