body {
    margin: 0;
    padding: 0;
    width: 99%;
    height: 100%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 11pt;
    background-color: #FFFFFF;
}

/* Right side of the page */
main {
    width: 50%;
    float: right;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #DA4453;
    color: #FFFFFF;
}

/* Left side of the page */
header {
    width: 50%;
    float: left;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url('transition.png') no-repeat fixed 28%;
}

footer {
    display: none;
}

#name {
    font-size: 30pt;
}

#photo {
    border: #ABD542 solid 8px;
    height: 150px;
    width: 150px;
    position: absolute;
    right: 15px;
    top: 50px;
}

#info {

}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: #ABD542;
}

a:hover {
    color: #DAF696;
}

a:visited:hover {
    color: #DAF696;
}

a:visited {
    color: #ABD542;
}

a:active {
    color: #DAF696;
}

/* Content */

.sectionTitle {
    color: #77C4B9;
    font-size: 14pt;
    font-weight: 900;
}

b {
    color: #FFC59B;
}

#skills {
    width: 100%;
}

#skillList-left {
    width: 50%;
    float: left;
}

#skillList-right {
    width: 50%;
    float: left;
}

#skillList-left ul, #skillList-right ul{
    list-style: none;
}

.skillsName  {
    display: block;
    width: 150px;
    font-size: 14pt;
}

.skillsTime {
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: relative;
    top: -33px;
    left: 150px;

    -moz-border-radius: 50%;
    border-radius: 50%;

    background-color: white;
    color: #84DF7D;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}


/* Colors
84DF7D green
157E70 blue
DA4453 dark salmon, background
E7693C orange
F1543F darker orange
F13FAA 
*/